
body{
	background-color: #008899;
	text-align: center;
}

h1{
	color: white;
	border: 2px solid yellow;
	width: 300px;
	text-align: center;
	
}

a{
	padding: 20px;
	text-decoration: none;
	color: white;
}
form{
	margin-top: 20px;
	margin-left: 50%;
}

