body{
	background-color: silver;
	text-align: center;
}
h1{
	color: white;
	text-shadow: blue;
}
a{
	color:black;
	text-decoration: none;
}
ul li{
	list-style-type: none;
	margin-bottom: 20px;
	
}
button{
	margin-bottom: 20px;
	margin-left: 10px;

}